html {
  height: 100%;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #b0acb0;
}

footer {
    color: #fff;
}
